{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
  Блог "{{ object.title }}".
{% endblock %}

{% block navbar_links %}
  <li><a href="{% url 'home' %}">Главная</a></li>
  <li><a href="{% url 'blogs:blog_list' %}">Блоги</a></li>
  <li class="active"><a href="{% url 'blogs:blog_details' pk=blog.id %}">Блог: {{ blog.title }}</a></li>
{% endblock %}

{% block content %}
  <ul class="li st-group">

    <li class="list-group-item">
      {{ blog.description }}
    </li>

    <li class="list-group-item">
      {% if user == blog.owner %}
        <a class="btn btn-success fm-create" data-fm-head="Создание поста" data-fm-callback="reload"
           href="{% url 'blogs:create_post' %}">Создать новый пост</a>
      {% endif %}
    </li>

    <li class="list-group-item">

      <div class="panel-group" id="accordion">
        {% for post in blog.posts.all %}
          {% include 'blogs/post/posts_accordion.html' with post=post id=post.id%}
        {% endfor %}
      </div>
    </li>
  </ul>

{% endblock %}