{% load bootstrap3 %}
{% load avatar_tags %}
{% load static %}
{% bootstrap_css %}

<div class="list-group">
  {% for comment in object_list %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4 col-md-2">
          {{ comment.author }}
        </div>
        <div class="col-xs-8 col-md-10">
          {{ comment.created_at }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-2">
          {% avatar comment.author class="img-circle img-responsive"%}
        </div>
        <div class="col-xs-8 col-md-10">
          {{ comment.text }}
        </div>
      </div>
    </li>
  {% endfor %}
</div>
