appdirs==1.4.3
cloudinary==1.7.0
dj-database-url==0.4.2
Django==1.11
django-appconf==1.0.2
django-bootstrap3==8.2.2
-e "git+https://github.com/WeitBelou/django-chosen.git#egg=django-chosen-python3"
django-crispy-forms==1.6.1
django-fm==0.2.5
django-registration==2.2
gunicorn==19.7.1
olefile==0.44
packaging==16.8
Pillow==4.1.0
psycopg2==2.7.1
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
urllib3==1.20
whitenoise==3.3.0
