{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}Список блогов.{% endblock %}

{% block navbar_links %}
  <li><a href="{% url 'home' %}">Главная</a></li>
  <li class="active"><a href="{% url 'blogs:blog_list' %}">Блоги</a></li>
{% endblock %}

{% block content %}
  <ul class="list-group">
    <li class="list-group-item">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <a data-toggle="collapse" href="#collapse-filter-form">Поиск</a>
            </div>
          </div>
          <div id="collapse-filter-form"
               class="panel-collapse collapse {% if filter_form.search.value %}in{% endif %}">
            <form method="get" action="{% url 'blogs:blog_list' %}">
              <div class="panel-body">
                {% bootstrap_form filter_form %}
              </div>
              <div class="panel-footer">
                {% buttons submit='Фильтр' %}{% endbuttons %}
              </div>
            </form>

          </div>
        </div>
      </div>
    </li>

    {% if user.is_authenticated %}
      <li class="list-group-item">

        <a class="btn btn-success fm-create" data-fm-head="Создание блога" data-fm-callback="reload"
           href="{% url 'blogs:create_blog' %}">Создать новый блог</a>
      </li>
    {% endif %}

    <li class="list-group-item">
      <div class="panel-group">
        {% for blog in object_list %}
          <div class="panel panel-default">

            <div class="panel-heading">
              {{ blog.title }}
            </div>

            <div class="panel-body">
              {{ blog.description }}
            </div>

            <div class="panel-footer">
              {% for category in blog.categories.all %}
                <p> {{ category.name }}</p>
              {% endfor %}
              <p>
                Автор: {{ blog.owner.username }}
              </p>

              <a class="btn btn-info" href="{% url 'blogs:blog_details' pk=blog.id %}">
                Смотреть
              </a>

              {% if user.id == blog.owner_id %}
                <a class="btn btn-warning fm-update" data-fm-head="Редактирование блога" data-fm-callback="reload"
                   href="{% url 'blogs:update_blog' pk=blog.id %}">Редактировать</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </li>

  </ul>

{% endblock %}