{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
  Блог "{{ object.title }}".
{% endblock %}

{% block navbar_links %}
  <li><a href="{% url 'home' %}">Главная</a></li>
  <li><a href="{% url 'blogs:blog_list' %}">Блоги</a></li>
  <li class="active"><a href="{% url 'blogs:blog_details' pk=blog.id %}">Блог: {{ blog.title }}</a></li>
{% endblock %}

{% block content %}
  <ul class="list-group">

    <li class="list-group-item">
      {{ blog.description }}
    </li>

    {% if user == blog.owner %}
      <li class="list-group-item">
        <a class="btn btn-success fm-create" data-fm-head="Создание поста" data-fm-callback="reload"
           href="{% url 'blogs:create_post' %}">Создать новый пост</a>

        <a class="btn btn-warning fm-update" data-fm-head="Редактирование блога" data-fm-callback="reload"
           href="{% url 'blogs:update_blog' pk=blog.id %}">Редактировать</a>
      </li>
    {% endif %}

    <li class="list-group-item">

      <div class="panel-group">
        {% for post in blog.posts.all %}
          <div class="panel panel-default">
              <div class="panel-heading">
                {{ post.title }}
              </div>

              <div class="panel-body">
                {{ post.content|slice:'0:100'|add:'...' }}
              </div>

              <div class="panel-footer">
                <a class="btn btn-info" href="{% url 'blogs:post_details' pk=post.id %}">
                  Смотреть
                </a>

                {% if user == post.author %}
                  <a class="btn btn-warning fm-update" data-fm-head="Редактирование поста" data-fm-callback="reload"
                     href="{% url 'blogs:update_post'  pk=post.id %}">Редактировать</a>
                {% endif %}
              </div>
          </div>
        {% endfor %}
      </div>
    </li>
  </ul>

{% endblock %}