{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
  Блог "{{ object.title }}".
{% endblock %}

{% block content %}
  <ul class="li st-group">

    <li class="list-group-item">
      {{ blog.description }}
    </li>

    <li class="list-group-item">
      {% if user == blog.owner %}
        <a class="btn btn-success" href="{% url 'blogs:create_post' %}">Создать новый пост</a>
      {% endif %}
    </li>

    <li class="list-group-item">

      <div class="panel-group" id="accordion">
        {% for post in blog.posts.all %}
          {% include 'blogs/posts_accordion.html' with post=post id=post.id%}
        {% endfor %}
      </div>
    </li>
  </ul>

{% endblock %}