{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
  Блог "{{ object.title }}".
{% endblock %}

{% block content %}
  <ul class="li st-group">

    <li class="list-group-item">
       {{ blog.description }}
    </li>

    <li class="list-group-item">
      {% if user == blog.author %}
        <a class="btn btn-success" href="{% url 'blogs:create_post' %}">Создать новый пост</a>
      {% endif %}
    </li>

    <li class="list-group-item">

      <div class="panel-group" id="accordion">
        {% for post in blog.posts.all %}
          {% url 'blogs:post_details' pk=post.id as details_url %}
          {% url 'blogs:post_update' pk=post.id as update_url %}
          {% include 'accordion/base.html' with id=post.id title=post.title description=post.content|slice:"0:100"|add:"..." details_url=details_url update_url=update_url author=post.author%}
        {% endfor %}
      </div>
    </li>
  </ul>

{% endblock %}