{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}Список блогов.{% endblock %}

{% block content %}
    <form method="get" action="{% url 'blogs:blog_list' %}">
        {% bootstrap_form filter_form %}
        {% buttons submit='Фильтр' %}{% endbuttons %}
    </form>

    {% if user.is_authenticated %}
        <a href="{% url 'blogs:create_blog' %}">Создать новый блог</a>
    {% endif %}

    <article>
        {% for blog in object_list %}
            <section>
                <a href="{% url 'blogs:blog_details' pk=blog.id %}"><h3>{{ blog.title }}</h3></a>

                <details>
                    <summary>Описание</summary>
                    {{ blog.description }}
                    <hr>

                    <cite>Владелец: {{ blog.owner }}</cite>

                    {% if user == blog.owner %}
                        <a href="{% url 'blogs:update_blog' pk=blog.id %}">Редактировать</a>
                    {% endif %}
                </details>

            </section>
        {% endfor %}
    </article>

{% endblock %}