{% extends 'core/boostrap_wrapper.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <header>{% block title %}(no title){% endblock %}</header>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'blogs:blog_list' %}">Блоги</a>

            {% if user.is_anonymous %}
                <a href="{% url 'core:login' %}">Вход</a>
                <a href="{% url 'core:register' %}">Регистрация</a>
            {% else %}
                Привет, {{ user.username }}.
                <a href="{% url 'core:logout' %}">Выйти</a>
            {% endif %}
        </nav>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}