{% extends 'core/accordion-base.html' %}

{% block panel-header %}
  {{ post.title }}
{% endblock %}

{% block pannel-body %}
  {{ post.content|slice:'0:100'|add:'...'}}
{% endblock %}

{% block panel-buttons %}
  <a class="btn btn-info" href="{% url 'blogs:post_details' pk=id %}">
    Смотреть
  </a>

  {% if user == post.author %}
    <a class="btn btn-warning load-on-click" data-toggle="modal" href="#update-{{ id }}-modal"
    data-url="{% url 'blogs:update_post' pk=id%}"
    data-destination="#update-{{ id }}-destination">Редактировать</a>

    <div id="update-{{ id }}-modal" class="modal fade" role="dialog">
      <div class="modal-dialog" id="update-{{ id }}-destination">
      </div>
    </div>
  {% endif %}
{% endblock %}