{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
  Пост "{{ post.title }}".
{% endblock %}

{% block content %}
  <ul class="list-group">
    <li class="list-group-item">
      <ul class="list-group">
        <li class="list-group-item">
          <article>{{ post.content }}</article>
        </li>
        <li class="list-group-item">
          {{ post.likes.count }}
          <a href="#"> {% bootstrap_icon 'heart' %}</a>
        </li>
      </ul>
    </li>

    <li class="list-group-item">
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'blogs:post_details' pk=post.id %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons submit="Отправить" %}{% endbuttons %}
        </form>
      {% endif %}
    </li>

    <li class="list-group-item">
      {% include "comments/comments_list.html" with object_list=post.comments.all %}
    </li>
  </ul>

{% endblock %}